h1 {
    text-align: center;
}

p {
    text-align: center;
    color: cornflowerblue;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.no-resize {
    resize: none;
}

.btn-center {
    display: flex;
    justify-content: center; 
    margin-left: auto;
    margin-right: auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.center-container {
    width: 80%; 
    max-width: 500px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}